<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Меню</li>
                    <li><a href="{{ path('about-page') }}">О компании</a></li>
                    <li><a href="{{ path('stores-page') }}">Магазины</a></li>
                    <li><a href="{{ path('wholesale-stores-page') }}">Службы сбыта</a></li>
                    <li><a href="#">Бонусы и скидки</a></li>
                    <li><a href="{{ path('articles-page') }}">Полезные статьи</a></li>
                    <li><a href="{{ path('contacts-page') }}">Контакты</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>