<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <ul>
                    <li>Меню</li>
                    <li><a href="{{ path('about-page') }}">О компании</a></li>
                    <li><a href="{{ path('stores-page') }}">Магазины</a></li>
                    <li><a href="{{ path('wholesale-stores-page') }}">Службы сбыта</a></li>
                    <li><a href="{{ path('special-offers-page') }}">Бонусы и скидки</a></li>
                    <li><a href="{{ path('your-benefits-page') }}">Ваша прибыль</a></li>
                    <li><a href="{{ path('your-safety-page') }}">Ваша безопасность</a></li>
                    <li><a href="{{ path('contacts-page') }}">Контакты</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <a class="navbar-brand pull-right" href="{{ path('index-page') }}">
                    ЭЛЕКТРОТЕХНИЧЕСКАЯ КОМПАНИЯ
                    {% image '@EnmashPagesBundle/Resources/public/images/logo_energomash_blue.png' %}
                    <img src="{{ asset_url }}" alt="Логотип Энергомаш" />
                    {% endimage %}
                </a>
            </div>
        </div>
    </div>
</div>