<nav class="navbar navbar-fixed-top" role="navigation" id="top-menu">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('index-page') }}">
                <span class="visible-lg">ЭЛЕКТРОТЕХНИЧЕСКАЯ КОМПАНИЯ</span>
                {% image '@EnmashPagesBundle/Resources/public/images/logo_energomash_blue.png' %}
                <img src="{{ asset_url }}" alt="Логотип Энергомаш" />
                {% endimage %}
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            {#{{ knp_menu_render('EnmashPagesBundle:Builder:catalogMainMenu', {'template': 'EnmashPagesBundle:Menu:topcatalogmenu.html.twig'}) }}#}

            <div id="search-box">
                <ul class="list-inline">
                    {% if app.request.attributes.get('_route') matches "/catalog-*/" %}
                    <li id="select-location">
                        <a href="#" data-toggle="modal" data-target="#select-city-modal" data-city-selected="{% if app.request.cookies.get('userlocation') %}1{% else %}0{% endif %}">
                            <span class="mdi-action-home icon"></span>
                            <span id='city-name'>
                            {% if app.request.cookies.get('userlocation') %}
                                {{ app.request.cookies.get('userlocation') }}
                            {% else %}
                                Выбрать город
                            {% endif %}
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a id="find-store-link" data-toggle="modal" data-target="#find-store-map"><span class="glyphicon glyphicon-map-marker icon"></span> Найти магазин</a>
                    </li>
                    {#<li>#}
                    {#<a href="#">Войти</a>#}
                    {#</li>#}
                    <li class="box">
                        <input type="text" id="search-query-input"/>
                    </li>
                    <li class="find-button">
                        <a href="{{ path('search') }}" id="search-button"><span class="glyphicon glyphicon-search"></span></a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav">
                <li class="{% spaceless %}{% if app.request.get('_route') == 'catalog-category-page' or app.request.get('_route') == 'catalog-index-page' %} active{% endif %}"{% endspaceless %} id="catalog-menu-item">
                    {% if app.request.get('_route') == 'catalog-index-page' or app.request.get('_route') == 'catalog-category-page' or app.request.get('_route') == 'catalog-single-item' %}
                        <a href="{{ path('catalog-index-page') }}">КАТАЛОГ</a>
                        {{ knp_menu_render('EnmashPagesBundle:Builder:catalogSidebarMenu', {'template': 'EnmashPagesBundle:Menu:catalogsidebarmenu.html.twig'}) }}
                    {% else %}
                        <a href="http://legacy.enmash.ru/component/virtuemart/?page=shop.browse&category_id=235">КАТАЛОГ</a>
                    {% endif %}
                </li>
                <li class="{% if app.request.get('_route') == 'about-page' %}active {% endif %}visible-xs visible-md visible-lg"><a href="{{ path('about-page') }}">О КОМПАНИИ</a></li>
                <li {% if app.request.get('_route') == 'stores-page' %}class="active"{% endif %}><a href="{{ path('stores-page') }}">МАГАЗИНЫ</a></li>
                <li {% if app.request.get('_route') == 'wholesale-stores-page' %}class="active"{% endif %}><a href="{{ path('wholesale-stores-page') }}">СЛУЖБЫ СБЫТА</a></li>
                <li {% if app.request.get('_route') == 'special-offers-page' %}class="active"{% endif %}><a href="{{ path('special-offers-page') }}">БОНУСЫ И СКИДКИ</a></li>
                <li class="{% if app.request.get('_route') == 'your-benefits-page' %}active {% endif %}visible-xs visible-lg"><a href="{{ path('your-benefits-page') }}">ВАША ПРИБЫЛЬ</a></li>
                <li class="{% if app.request.get('_route') == 'your-safety-page' %}active {% endif %}visible-xs visible-lg"><a href="{{ path('your-safety-page') }}">ВАША БЕЗОПАСНОСТЬ</a></li>
                <li {% if app.request.get('_route') == 'contacts-page' %}class="active"{% endif %}><a href="{{ path('contacts-page') }}">КОНТАКТЫ</a></li>
            </ul>
        </div>
    </div>
</nav>