<div class="navbar navbar-fixed-top" role="navigation" id="top-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('index-page') }}">
                        ЭЛЕКТРОТЕХНИЧЕСКАЯ КОМПАНИЯ
                        {% image '@EnmashPagesBundle/Resources/public/images/logo_energomash_blue.png' %}
                        <img src="{{ asset_url }}" alt="Логотип Энергомаш" />
                        {% endimage %}
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>
            </div>
            <div class="col-xs-9">
                <div id="search-box">
                    <ul class="list-inline">
                        <li>
                            <a id="find-store-link" data-toggle="modal" data-target="#find-store-map"><span class="glyphicon glyphicon-map-marker"></span> Найти магазин</a>
                        </li>
                        {#<li>#}
                            {#<a href="#">Войти</a>#}
                        {#</li>#}
                        <li class="box">
                            <input type="text" />
                        </li>
                        <li class="find-button">
                            <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collapse navbar-collapse">
                {#{{ knp_menu_render('EnmashPagesBundle:Builder:catalogMainMenu', {'template': 'EnmashPagesBundle:Menu:topcatalogmenu.html.twig'}) }}#}
                <ul class="nav navbar-nav">
                    <li {% if app.request.get('_route') == 'catalog-category-page' or app.request.get('_route') == 'catalog-index-page' %}class="active"{% endif %}><a href="{{ path('catalog-index-page') }}">КАТАЛОГ ТОВАРОВ</a></li>
                    <li {% if app.request.get('_route') == 'about-page' %}class="active"{% endif %}><a href="{{ path('about-page') }}">О КОМПАНИИ</a></li>
                    <li {% if app.request.get('_route') == 'stores-page' %}class="active"{% endif %}><a href="{{ path('stores-page') }}">МАГАЗИНЫ</a></li>
                    <li {% if app.request.get('_route') == 'wholesale-stores-page' %}class="active"{% endif %}><a href="{{ path('wholesale-stores-page') }}">СЛУЖБЫ СБЫТА</a></li>
                    <li {% if app.request.get('_route') == 'special-offers-page' %}class="active"{% endif %}><a href="{{ path('special-offers-page') }}">БОНУСЫ И СКИДКИ</a></li>
                    <li {% if app.request.get('_route') == 'your-benefits-page' %}class="active"{% endif %}><a href="{{ path('your-benefits-page') }}">ВАША ПРИБЫЛЬ</a></li>
                    <li {% if app.request.get('_route') == 'your-safety-page' %}class="active"{% endif %}><a href="{{ path('your-safety-page') }}">ВАША БЕЗОПАСНОСТЬ</a></li>
                    <li {% if app.request.get('_route') == 'contacts-page' %}class="active"{% endif %}><a href="{{ path('contacts-page') }}">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>