{% extends 'EnmashPagesBundle:Base:public_base.html.twig' %}

{% block no_container %}
<style>

    body .well, .container .well, .container-fluid .well, body .jumbotron, .container .jumbotron, .container-fluid .jumbotron {
        margin-bottom: 0px;
    }

    .breadcrumbs-row {
        margin-top: 20px;
    }

</style>

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left pusher">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <h1>Каталог</h1>
            <div class="hide-mobile well well-sm visible-xs visible-sm breadcrumb">
                {{ wo_render_breadcrumbs() }}
            </div>
            {{ knp_menu_render('EnmashPagesBundle:Builder:catalogMobileMenu', {'template': 'EnmashPagesBundle:Menu:mobilecatalogmenu.html.twig'}) }}
            {{ knp_menu_render('EnmashPagesBundle:Builder:catalogSidebarSubMenu', {'template': 'EnmashPagesBundle:Menu:catalogsidebarsubmenu.html.twig'}) }}
        </div>

        <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="row breadcrumbs-row">
                <div class="col-xs-12">
                    <div class="hide-mobile well well-sm visible-md visible-lg">
                        {{ wo_render_breadcrumbs() }}
                    </div>
                    {% block maincontent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').click(function () {
                $('.row-offcanvas').toggleClass('active')
            });

            checkCityStatus();

            $('#select-city-modal .modal-body ul a').click(function(e){
                e.preventDefault();
                var city = $(this).data('city');
                if (city != "") {
                    document.cookie = "userlocation=" + city;
                    var citySpan = document.querySelector('#city-name');
                    if (citySpan != undefined) {
                        citySpan.textContent = city;
                    }
                }

                $('#select-city-modal').modal('hide');
            });
        });
    </script>
{% endblock %}