{% extends 'EnmashPagesBundle:Pages:Catalog/base.html.twig' %}

{% block customcss %}
    {{ parent() }}
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{{ asset('vendor/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/slick.js/slick/slick.css') }}">
{% endblock %}

{% block maincontent %}

<style>
    .product-title .add-info {
        /*background-color: #EEEEEE;*/
        /*border: 1px solid #dddddd;*/
        /*border-radius: 5px;*/
        /*padding: 5px;*/
    }

    .product-images ul li {
        display: inline-block;
        text-align: center;
        border: 1px solid #dddddd;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .product-images ul li:first-child {
        display: block;
        border: none;
    }

    .product-main-content {
        margin-top: 20px;
    }

    .analogs {
        overflow: hidden;
    }

    .analogs .item-image img {
        height: 100px;
    }

    .certificate-list li a i{
        font-size: 3em;
        border: 1px solid #dddddd;
        border-radius: 3px;
        padding: 5px;
        margin: 5px;
        display: inline-block;
        background-color: #FFFFFF;
        transition: all .3s;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .5);
    }

    .certificate-list a:hover i {
        background-color: #EEEEEE;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .5)
    }

    .certificate-list li a:hover {
        text-decoration: none;
    }
</style>

{% include 'EnmashPagesBundle:Pages:Blocks/gallerymodal.html.twig' %}

<div class="row product-title">
    <div class="col-xs-12">
        <h1>{{ product.name }} - {{ product.acronym }}</h1>
    </div>
    <div class="col-xs-12">
        <div class="add-info well well-sm">
            <span>Арт. <b>{{ product.sku }}</b></span>
        </div>
    </div>
</div>
<div class="row product-main-content">
    <div class="col-xs-12 col-md-6">
        <div class="product-images">
            {% if product.productImages %}
                <ul class="list-unstyled">
                    {% for image in product.productImages.galleryHasMedias %}
                    <li>
                        <a href="{% path image.media, 'big' %}" data-gallery="product-images-{{ product.id }}">
                            {% if loop.index == 1 %}
                            <img src="{% path image.media, 'big' %}" data-image="{%  path image.media, 'big' %}">
                            {% else %}
                            <img src="{% path image.media, 'small' %}" data-image="{%  path image.media, 'big' %}">
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ asset('bundles/enmashpages/images/noimageyet.jpg') }}" data-gallery="product-images-{{ product.id }}">
                            <img src="{{ asset('bundles/enmashpages/images/noimageyet.jpg') }}">
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="product-desc">
            <dl class="dl-horizontal">
                <dt>Наименование</dt>
                <dd>{{ product.name }} - {{ product.acronym }}</dd>
                <dt>Артикул</dt>
                <dd>{{ product.sku }}</dd>
                <dt>Категория</dt>
                <dd>{{ product.category.name }}</dd>
                {% if product.manufacturer and constant('NO_NAME', product.manufacturer) != product.manufacturer %}
                <dt>Производитель</dt>
                <dd>{{ product.manufacturer.name }}</dd>
                {% if product.mansku %}
                <dt>Артикул производителя</dt>
                <dd>{{ product.mansku }}</dd>
                {% endif %}
                {% endif %}
            </dl>
            <div class="text-center">
                <a href="{{ path('add-product-to-shopping-cart', {'product': product.id}) }}" class="btn btn-success">Купить</a>
            </div>
        </div>
    </div>
</div>

    {% if product.certificates %}
    <div class="certificates">
        <hr>
        <h2>Сертификаты и Инструкции</h2>
        <ul class="unstyled-list list-inline certificate-list">
            {% for certificate in product.certificates.galleryHasMedias %}
            <li class="text-center">
                <a href="{% path certificate.media, 'reference' %}" target="_blank">
                    <i class="mdi-file-attachment"></i>
                    {#<span class="glyphicon glyphicon-file" aria-hidden="true"></span><br>#}
                    <br>
                    {{ certificate.media.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if product.analogs | length > 0 %}
    {#<div class="analogs">#}
        {#<hr>#}
        {#<h2>Аналоги</h2>#}
        {#{% include 'EnmashPagesBundle:Pages:Catalog/Block/similars.html.twig' with {products: product.analogs, title: 'analogs-carousel'} %}#}
    {#</div>#}
    <div class="analogs">
        <hr>
        <h2>Аналоги</h2>
        {% include 'EnmashPagesBundle:Pages:Catalog/Block/slicksliderforproducts.html.twig' with {products: product.analogs, sliderId: 'analogsSlider'} %}
    </div>
    {% endif %}

    {% if product.similars | length > 0 %}
    <div class="analogs">
        <hr>
        <h2>Похожие товары</h2>
        {% include 'EnmashPagesBundle:Pages:Catalog/Block/slicksliderforproducts.html.twig' with {products: product.similars, sliderId: 'similarsSlider'} %}
    </div>
    {% endif %}

{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{{ asset('vendor/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.min.js') }}"></script>
    <script src="{{ asset('vendor/slick.js/slick/slick.min.js') }}"></script>
    <script>
        $('#analogsSlider, #similarsSlider').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>
{% endblock %}