{% extends 'knp_menu.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not sameas(false) -%}
            {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block root %}

    <style>
        .sidebar-title {
            background-color: #007CC2;
            color: #fdda0a;
            padding: 10px 0px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        #catalog-sidebar-menu a {
            color: #555555;
            text-decoration: none;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        #catalog-sidebar-menu a:hover {
            color: #007CC2;
        }

        #catalog-sidebar-menu ul {
            position: relative;
            list-style: none;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            box-shadow: 0px 0px 8px 0px #555555;
            padding: 10px 0px;
        }

        #catalog-sidebar-menu > ul > li {
            display: block;
        }

        #catalog-sidebar-menu > ul > li:hover ul.menu_level_1 {
            display: block;
        }

        #catalog-sidebar-menu ul li {
            margin: 10px 0;
            padding: 0 10px;
        }

        #catalog-sidebar-menu ul.menu_level_1 {
            position: absolute;
            top: 0;
            left: 100%;
            bottom: 0;
            display: none;
            white-space: nowrap;
            overflow-y: scroll;
            font-weight: 900;
        }

        #catalog-sidebar-menu ul.menu_level_1 ul.menu_level_2 {
            border: none;
            box-shadow: none;
            border-bottom: 1px solid #555555;
            font-weight: 100;
        }

    </style>

    {% set listAttributes = item.childrenAttributes %}
    <div class="" id="catalog-sidebar-menu">
        <div class="sidebar-title text-center">
            <span>КАТАЛОГ ТОВАРОВ</span>
        </div>
        {{ block('list') -}}
    </div>
{% endblock %}

{% block linkElement %}<a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}>{{ block('label') }}</a>{% endblock %}