{#<div class="item" style="width: {{ offer.width }}%">#}
<div class="item" style="min-height: {{ minheight }}">
    <div >
    <div class="offer-image" id="links">
        <a href="{% path offer.image, 'big' %}" title="{{ offer.image.name }}" data-gallery="offer_{{ offer.id }}" >
            <img src="{% path offer.image, 'small' %}" alt="{{ offer.image.name  }}">
        </a>
    </div>
    {% if offer.title | length > 0 %}
    <div class="offer-title text-center">
        <h3>{{ offer.title }}</h3>
    </div>
    {% endif %}
    {% if offer.body | length > 0 %}
    <hr>
    <div class="offer-body">
        <p>{{ offer.body }}</p>
    </div>
    {% endif %}
    {% if offer.store %}
    <div class="offer-body">
        <p class="asterisk">*Распространяется только в магазине <a href="{{ path('stores-page') }}#store_{{ offer.store.id }}">{{ offer.store }}</a></p>
    </div>
    {% endif %}
</div></div>