<!DOCTYPE html>
<html>
<head>
    <title>Enmash Store</title>
    {#<meta name="viewport" content="width=device-width, initial-scale=1">#}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.css') }}">
    <link href="{{ asset('vendor/bootstrap-material-design/dist/css/ripples.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap-material-design/dist/css/material-wfont.min.css') }}" rel="stylesheet">
    {% endblock %}

    {% block customcss %}
    {% stylesheets 'bundles/enmashpages/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}
    <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
</head>
<body class="{% block body_class %}{% endblock %}">

    {% block modals %}
        {% include('EnmashPagesBundle:Pages:Blocks/modals/findstoremap.html.twig') %}
        {% include('EnmashPagesBundle:Pages:Blocks/modals/selectcity.html.twig') %}
    {% endblock %}

    {% block top_menu %}
    {#top menu#}
    {% include('EnmashPagesBundle:Pages:Blocks/top_menu.html.twig') %}
    {% endblock %}

    {% block jumbotron %}
    {% endblock %}

    {% block no_container %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    {% include ('EnmashPagesBundle:Pages:Blocks/footer.html.twig') %}
    {% endblock %}

    {% block js %}
    <script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('bundles/enmashpages/js/functions.js') }}"></script>

        <script type="text/javascript">

            $(document).ready(function(){

                $.material.init();

                var map = null;

                $('#find-store-map').on('shown.bs.modal', function(e){
                    if (map == null) {

                        var iconPath = $('#find-store-map').attr('data-icon-path');

                        $.ajax({
                            method: 'POST',
                            data: {
                                'type' : $('#find-store-map').attr('data-type')
                            },
                            url: $('#find-store-map').attr('data-map-points-path'),
                            success: function(data) {
                                initializeFindStoreMap(data, iconPath);
                            }
                        });
                    }
                });

                $(window).on('scroll', function(e){
                    var topPosition = window.pageYOffset;
                    console.log(topPosition);
                    if (topPosition > 70) {
                        $('.navbar-fixed-top').addClass('hidden-top');
                    } else {
                        $('.navbar-fixed-top').removeClass('hidden-top');
                    }
                });

                $(function() {
                    $('a[href*=#]:not([href=#]):not([href=#carousel]):not([href*=#city_]):not([href*=-carousel])').click(function() {
                        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                            var target = $(this.hash);
                            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                            if (target.length) {
                                $('html,body').animate({
                                    scrollTop: target.offset().top
                                }, 1000);
                                return false;
                            }
                        }
                    });
                });
            });

        </script>
    {% endblock %}
</body>
</html>