<!DOCTYPE html>
<html>
<head>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.css') }}">
    <link href="{{ asset('vendor/bootstrap-material-design/dist/css/ripples.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap-material-design/dist/css/material-wfont.min.css') }}" rel="stylesheet">
    {% endblock %}

    <link rel="icon" href="{{ asset('favicon.png') }}" type="image/png" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {% block customcss %}
    {% stylesheets 'bundles/enmashpages/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}
    <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
</head>
<body class="{% block body_class %}{% endblock %}">

    {% block modals %}
        {% include('EnmashPagesBundle:Pages:Blocks/modals/findstoremap.html.twig') %}
        {% include('EnmashPagesBundle:Pages:Blocks/modals/selectcity.html.twig') %}
        {% if not app.user %}
            {% include('EnmashPagesBundle:Pages:Blocks/modals/authmodal.html.twig') %}
        {% endif %}
        {% include 'EnmashPagesBundle:Pages:Blocks/modals/notificationmodal.html.twig' %}
    {% endblock %}

    {% block top_menu %}
    {#top menu#}
    {% include('EnmashPagesBundle:Pages:Blocks/top_menu.html.twig') %}
    {% endblock %}

    {% block jumbotron %}
    {% endblock %}

    {% block no_container %}
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    {% include ('EnmashPagesBundle:Pages:Blocks/footer.html.twig') %}

        {% set msgs = app.session.flashbag.get('notice') %}
        {% if msgs | length > 0 %}
            <div class="alert alert-info alert-dismissible flash-msgs" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for flashMsg in msgs %}
                    <div>
                        <span>{{ flashMsg }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endblock %}

    {% block js %}
    <script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('bundles/enmashpages/js/functions.js') }}"></script>

        <script type="text/javascript">

            $(document).ready(function(){

                $.material.init();

                var map = null;

                $('#find-store-map').on('shown.bs.modal', function(e){
                    if (map == null) {

                        var iconPath = $('#find-store-map').attr('data-icon-path');

                        $.ajax({
                            method: 'POST',
                            data: {
                                'type' : $('#find-store-map').attr('data-type')
                            },
                            url: $('#find-store-map').attr('data-map-points-path'),
                            success: function(data) {
                                initializeFindStoreMap(data, iconPath);
                            }
                        });
                    }
                });

                //todo show only if flash messages exist
//                $('#notification-modal').modal();

                //top menu scroll
                $(window).on('scroll', function(e){
                    if (window.innerWidth > 767) {
                        var topPosition = window.pageYOffset;
                        if (topPosition > 70) {
                            $('.navbar-fixed-top').addClass('hidden-top');
                        } else {
                            $('.navbar-fixed-top').removeClass('hidden-top');
                        }
                    } else {
                        $('.navbar-fixed-top').removeClass('hidden-top');
                    }
                });

                $(function() {
                    $('a[href*=#]:not([href=#]):not([href=#carousel]):not([href*=#city_]):not([href*=-carousel]):not(data-toggle=tab)').click(function() {
                        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                            var target = $(this.hash);
                            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                            if (target.length) {
                                $('html,body').animate({
                                    scrollTop: target.offset().top
                                }, 1000);
                                return false;
                            }
                        }
                    });
                });

                //catalog menu shower
                $("#catalog-menu-item").hover(
                        function(e) {
                            var catalogMenu = document.querySelector('#main-catalog');
                            if (catalogMenu == null) return;
                            catalogMenu.classList.add('shown');
                        },
                        function(e) {
                            setTimeout(function(){
                                var catalogMenu = document.querySelector('#main-catalog:hover');
                                if (catalogMenu == null) {
                                    var catalogMenu = document.querySelector('#main-catalog');
                                    if (catalogMenu != undefined) {
                                        catalogMenu.classList.remove('shown');
                                    }
                                }

                            }, 500);
                        }
                );

                $('#search-button').click(function(){
                    var searchQuery = $('#search-query-input').val();
                    if (searchQuery == '') {
                        alert('Строка поиска не может быть пустой');
                        return false;
                    }
                    $(this).attr('href', $(this).attr('href') + "?q=" + encodeURI(searchQuery));
                    return true;
                });

                //login/register popup
//                $('#login-button').click(function(e){
//                    e.preventDefault();
//                    var htmlPath = this.dataset.path;
//                    $.ajax({
//                        method: 'GET',
//                        url: htmlPath,
//                        success: function(data) {
//                            var emptyModal = document.querySelector('#auth-modal .modal-body');
//                            emptyModal.innerHTML = data;
//                            $('#auth-modal').modal();
//                        }
//                    });
//                });

            });

            function checkCityStatus() {
                var cityName = document.querySelector('#select-location a');
                if (cityName.dataset.citySelected == 0) {
                    cityName.click();
                }
            }

        </script>
    {% endblock %}

    {% block google_yandex %}
        <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28170963 = new Ya.Metrika({id:28170963, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/28170963" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59202922-1', 'auto');
            ga('send', 'pageview');

        </script>
    {% endblock %}
</body>
</html>