{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    {#{% sonata_template_box 'This is the user profile edition template. Feel free to override it.' %}#}

    {{ form_errors(form) }}

    {% form_theme form _self %}

        <h3>{{ "title_user_account" | trans({}, 'SonataUserBundle')}}</h3>
        <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="">
            <div class="col-xs-6">
                {{ form_label(form.gender) }}
                {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-6">
                {{ form_label(form.dateOfBirth) }}
                {{ form_widget(form.dateOfBirth) }}
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-6">
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Имя'}}) }}
            </div>
            <div class="col-xs-6">
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Фамилия'}}) }}
            </div>

            <div class="col-xs-6">
                {{ form_widget(form.website, {'attr': {'class': 'form-control', 'placeholder': 'Веб-Сайт'}}) }}
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12">
                {{ form_widget(form.biography, {'attr': {'class': 'form-control', 'placeholder': 'О себе'}}) }}
            </div>

            <div class="col-xs-6">
                <label>Ваш язык</label>
                {{ form_widget(form.locale, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-xs-6">
                <label>Часовой пояс</label>
                {{ form_widget(form.timezone, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-xs-6">
                {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': 'Телефон'}}) }}
            </div>

            <div class="clearfix"></div>

            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" name="submit"  class="btn btn-primary pull-right">{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}</button>
            </div>
        </form>

    {#{% render url("sonata_user_profile_edit_authentication") %}#}
{% endblock %}