{% if renderAs is not defined %}
{% set renderAs = constant('Enmash\\Bundle\\StoreBundle\\Entity\\Store::RETAIL_TYPE') %}
{% endif %}

{% set storeTitle = 'Магазин' %}
{% if renderAs == constant('Enmash\\Bundle\\StoreBundle\\Entity\\Store::WHOLESALE_TYPE') %}
    {% if constant('Enmash\\Bundle\\StoreBundle\\Entity\\Store::WHOLESALE_TYPE') in store.storeType %}
        {% set storeTitle = 'Cлужба сбыта' %}
    {% else %}
        {% set storeTitle = 'Стол заказов' %}
    {% endif %}
{% endif %}

<div class="row store-row">
    <a class="offset-anchor" id="store_{{ store.id }}"></a>
    <div class="col-xs-12 text-center">
        <h2>
            {% spaceless %}
            {% if renderAs == constant('Enmash\\Bundle\\StoreBundle\\Entity\\Store::RETAIL_TYPE') %}
            {{ store.name | raw }}
            {% else %}
            {{ store.whName | raw }}
            {% endif %}
            {% endspaceless %}
        </h2>
    </div>

    {% if renderAs == constant('Enmash\\Bundle\\StoreBundle\\Entity\\Store::WHOLESALE_TYPE') %}
        {% if store.whInfo %}
            <div class="col-xs-12">
                {#<h3>Дополнительная информация</h3>#}
                {{ store.whInfo | raw }}
            </div>
        {% endif %}
    {% elseif renderAs == constant('Enmash\\Bundle\\StoreBundle\\Entity\\Store::RETAIL_TYPE') %}
        {% if store.info %}
            <div class="col-xs-12">
                {#<h3>Дополнительная информация</h3>#}
                {{ store.info | raw }}
            </div>
        {% endif %}
    {% endif %}

    <div class="col-xs-12 col-md-6">
        <h3>{{ storeTitle }}</h3>
        <table class="table table-striped">
            <tr>
                <td>Адрес</td>
                <td>{{ store.city }},
                    {% spaceless %}
                    {% if renderAs == constant('Enmash\\Bundle\\StoreBundle\\Entity\\Store::WHOLESALE_TYPE') %}
                    {{ store.whAddress }}
                    {% else %}
                    {{ store.address }}
                    {% endif %}
                    {% endspaceless %}
                    | <a href="#" class="show-store-on-map" data-store-id="{{ store.id }}">Карта</a></td>
            </tr>
            <tr>
                {% if renderAs == constant('Enmash\\Bundle\\StoreBundle\\Entity\\Store::RETAIL_TYPE') %}
                <td>График работы магазина</td>
                <td>{{ store.schedule }}</td>
                {% else %}
                <td>График работы ({{ store.getStoreTypeString(store.storeType, true) }})</td>
                <td>{{ store.wholesaleSchedule }}</td>
                {% endif %}
            </tr>
            {% if store.contacts | length > 0 %}
            {% include 'EnmashPagesBundle:Pages:Blocks/storecontacts.html.twig' with {'store': store, 'renderAs': renderAs} %}
            {% endif %}
        </table>

    </div>

    <div class="col-xs-12 col-md-6 store-images">
        {% if store.storeImages %}
            <h3>Фотографии</h3>
            <div id="links">

                {% for media in store.storeImages.galleryHasMedias %}
                    {% if loop.index == 1 %}
                    <a href="{% path media.media, 'big' %}" title="{{ media.media.name }}" data-gallery="store_{{ store.id }}" class="featured-image z1">
                        <img src="{% path media.media, 'big' %}" alt="{{ media.media.name  }}">
                    </a>
                    {% else %}
                    <a href="{% path media.media, 'big' %}" title="{{ media.media.name }}" data-gallery="store_{{ store.id }}" >
                        <img src="{% path media.media, 'small' %}" alt="{{ media.media.name  }}">
                    </a>
                    {% endif %}
                {% endfor %}

            </div>

        {% endif %}
    </div>

</div>
<div class="text-right back-to-map-arrow">
    <a href="#map-container" title="К карте">
        <span class="glyphicon glyphicon-circle-arrow-up "></span>
    </a>
</div>
<hr>