<link rel="import" href="{{ asset('vendor/polymer/polymer.html') }}">

<polymer-element name="product-list-item" attributes="product">

    <template>
        <style>

            @media screen and (min-width: 780px) {
                :host {
                    width: 33%;
                }
            }

            @media screen and (max-width: 779px) {
                :host {
                    width: 100%;
                }
            }

            .product-list-item {
                border: 1px solid #eeeeee;
                margin: 10px;
                padding: 10px;
            }

            polyfill-next-selector {content: '.product-list-item a img';}
            .product-list-item a img {
                width: 100%;
            }

            polyfill-next-selector {content: '.product-short-desc';}
            .product-list-item .product-short-desc {
                margin: 0px 10px 10px 10px;
            }

            /*polyfill-next-selector {content: '.product-list-item p.price';}*/
            /*.product-list-item ::content p.price {*/
                /*color: red;*/
            /*}*/

            polyfill-next-selector {content: '.product-list-item p.price';}
            .product-list-item p.price {
                /*color: red;*/
            }

        </style>
        <paper-shadow z="1" class="product-list-item" layout vertical>

            <a href="{{ '{{ product.href }}' }}">
                <img src="{{ '{{ product.image }}' }}">
            </a>

            <h3>{{ '{{ product.product.acronym }}' }}</h3>

            <p class="price">100 руб.</p>

            {#<content select="img"></content>#}

            {#<content select="h3">{{ '{{ product.product.acronym}}' }}</content>#}

            {#<content select="p.price"></content>#}

        </paper-shadow>

    </template>

    <script>
        Polymer({
            ready: function() {

            }
        });
    </script>
</polymer-element>