<link rel="import" href="{{ asset('vendor/polymer/polymer.html') }}">
<link rel="import" href="{{ asset('vendor/paper-shadow/paper-shadow.html') }}">

<link rel="import" href="{{ path('get_polymer_element', {'name': 'product-list-item.html.twig'}) }}">
<link rel="import" href="{{ path('get_polymer_element', {'name': 'product-catalog-service.html.twig'}) }}">

<polymer-element name="product-list" attributes="url">
    <template>
        <style>
            :host h1 {
                float: none;
            }
        </style>

        <product-catalog-service
                products="{{ '{{ products }}' }}"
                url="{{ '{{ url }}' }}"
                category="{{ '{{ category }}' }}">
        </product-catalog-service>

        <h1>{{ "{{ category.name }}" }}</h1>
        <div class="product-list" layout horizontal wrap>
            <template repeat="{{ '{{ product in products  }}' }}">
                <product-list-item product="{{ '{{ product }}' }}">
                    {#<img src="{{ '{{ product.image }}' }}">#}
                    {#<h3>{{ "{{ product.product.acronym }}" }}</h3>#}
                    {#<p>Производитель - <a href="#">{{ '{{ product.product.manufacturer.name}}' }}</a></p>#}
                    {#<p class="price">100 руб.</p>#}
                </product-list-item>
            </template>
            <template if="{{ '{{ products == 0}}' }}">
                <div>No items found</div>
            </template>
        </div>

    </template>

    <script>
        Polymer({

        });
    </script>
</polymer-element>