<style>
    div.carousel-caption p span {
        color: #fad70a;
        text-transform: uppercase;
        text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
        background-color: rgba(0, 95, 141, .7);
        padding: 0 5px;
    }
</style>

<div id="carousel" class="carousel slide" data-ride="carousel">

    <div class="go-down text-center">
        <a href="#about-anchor">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
    </div>

    {% include('EnmashPagesBundle:Pages:Blocks/Banners/cheap.html.twig') %}

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active full-screen" style="background-image: url('{{ asset("bundles/enmashpages/images/jumbo1b.jpg") }}')">
            <div class="curtain"></div>
            <div class="container">
                {% image '@EnmashPagesBundle/Resources/public/images/logo_energomash.png' %}
                <img src="{{ asset_url }}" alt="Логотип Энергомаш" class="jumbo-logo"/>
                {% endimage %}
            </div>
            <div class="carousel-caption">
                <p>Сеть магазинов <span>Электротовары</span><br>
                20 магазинов и филиалов<br>
                20 лет на рынке электротехники</p>
            </div>
        </div>
        <div class="item full-screen" style="background-image: url('{{ asset("bundles/enmashpages/images/jumbo2b.jpg") }}')">
            <div class="container">
                {% image '@EnmashPagesBundle/Resources/public/images/title.png' %}
                <img src="{{ asset_url }}" alt="Логотип Энергомаш" class="jumbo-logo"/>
                {% endimage %}
            </div>
            <div class="carousel-caption">
                <p>Тысячи изделий: от ламп до кабеля!<br>
                    От розеток до светильников<br>
                    От люстр до подстанций
                </p>
            </div>
        </div>
        <div class="item full-screen" style="background-image: url('{{ asset("bundles/enmashpages/images/jumbo3b.jpg") }}')">
            <div class="container">
                {% image '@EnmashPagesBundle/Resources/public/images/logo_energomash.png' %}
                <img src="{{ asset_url }}" alt="Логотип Энергомаш" class="jumbo-logo"/>
                {% endimage %}
            </div>
            <div class="carousel-caption">
                <p>Сбыт. Комплектация. Розничная торговля.<br>
                    Населению и для предприятий<br>
                    Наличный и безналичный расчет
                </p>
            </div>
        </div>
        <div class="item full-screen" style="background-image: url('{{ asset("bundles/enmashpages/images/jumbo4b.jpg") }}')">
            <div class="container">
                {% image '@EnmashPagesBundle/Resources/public/images/logo_energomash.png' %}
                <img src="{{ asset_url }}" alt="Логотип Энергомаш" class="jumbo-logo"/>
                {% endimage %}
            </div>
            <div class="carousel-caption">
                <p>20 лет на рынке электротехники</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>